
<main style="background: url('../public/images/coding.jpg')">   
    <section class="home" id="home">
        <div class="max-width">
            <div class="home-content">
                <div class="text-1">Hello, my name is</div>
                <div class="text-2">Krish Suthar</div>
                <div class="text-3">And I'm a Software Developer<span class="typing"></span></div>
                <a href="https://www.linkedin.com/in/krish-suthar-aa1463286/" target="_blank">Hire me</a>
            </div>
        </div>
    </section>
    </main> 
